body{
    background-color: lightblue;
    background-image: radial-gradient(circle, white 2px, transparent 3px);
    background-size: 40px;
    background-repeat: repeat;
    background-position: top center;
    background-attachment: fixed;
}
.weather-card{
    width: 400px;
    border: 3 px solid white;
    border-radius: 20px;
    background-image: linear-gradient(to bottom right, #1e90ff, #87cefa);
}
.weather-icon{
    font-size: 70px;
    color: darkblue;
    text-align: center;
}
.temperature{
    font-size: 48px;
    font-weight: bold;
    color: #fffacd;
    text-align: center;
}
.details{
    font-size: 18px;
    color: #fff;
    text-align: center;
}
.day{
    border: 2px solid #4682b4;
    border-radius: 15px;
    font-size: 17px;
    color: #003366;
    text-align: center;
}
.forecast-section{
    width: 600px;
    border: 3px solid white;
    border-radius: 15px;
    background-image: radial-gradient(circle, white, #add8e6);
    color:#003366;
}