body{
    background: #fff;
    font-family: "Baloo Tamma 2", sans-serif;
    margin: 0;
}
span{
    color: rgb(85, 71, 71);
    font-weight: bold;
    text-decoration: underline;
    font-size: 29px;
}
.navbar{
    background: pink;
}
.navigation{
    border-top: 5px solid crimson;
    padding: 14px 40px;
    
}
.navigation-link{
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    color:rgb(85, 71, 71) !important;
}
.navigation-link:hover{
    color: salmon !important;
}
.navbar-toggler{
    border-color: white;
}
.m-heading{
    font-family: "Roboto Slab", serif;
}
.main-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image:
    url(book2.avif);
    background-attachment: fixed;
    background-size: cover;
}